[submodule "deps/WTL-sf"]
	path = deps/WTL-sf
	url = https://git.code.sf.net/p/wtl/git
[submodule "extras/libjpeg-turbo"]
	path = extras/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "extras/libwebp"]
	path = extras/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "extras/libpng"]
	path = extras/libpng-apng.src-patch/libpng
	url = https://github.com/glennrp/libpng
[submodule "extras/zlib"]
	path = extras/libpng-apng.src-patch/zlib
	url = https://github.com/madler/zlib
[submodule "extras/libjxl"]
	path = extras/libjxl
	url = https://github.com/libjxl/libjxl/
