<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- modeled after the very helpful post: https://helgeklein.com/blog/real-world-example-wix-msi-application-installer/ -->

	<!--
		====================================================================================
		Defines & Variables
	-->

	<!-- Full version number to display -->
	<?define VersionNumber="!(bind.FileVersion.JPEGView.exe)" ?>

	<!--
	Upgrade code HAS to be the same for all updates.
	Once you've chosen it don't change it.
	-->
	<?define UpgradeCode="cc010056-8703-4ec9-a56e-7cb52641d6f4" ?>


	<!-- The URL for add/remove programs -->
	<?define InfoURL="https://github.com/sylikc/jpegview" ?>

	<!-- 32-bit / 64-bit variables -->
	<?if $(var.Platform) = x64 ?>
		<?define Win64 = "yes" ?>
		<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
		<?define JPEGViewExeSourcePath = "$(var.JPEGView.ProjectDir)\x64\Release\JPEGView.exe" ?>
		<?define JxlDllFolder = "$(var.JPEGView.ProjectDir)\libjxl\bin64" ?>
		<?define HeifDllFolder = "$(var.JPEGView.ProjectDir)\libheif\bin64" ?>
		<?define AvifDllFolder = "$(var.JPEGView.ProjectDir)\libavif\bin64" ?>
		<?define LcmsDllFolder = "$(var.JPEGView.ProjectDir)\lcms2\bin64" ?>
	<?else ?>
		<?define Win64 = "no" ?>
		<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
		<?define JPEGViewExeSourcePath = "$(var.JPEGView.ProjectDir)\x86\Release\JPEGView.exe" ?>
		<?define JxlDllFolder = "$(var.JPEGView.ProjectDir)\libjxl\bin" ?>
		<?define HeifDllFolder = "$(var.JPEGView.ProjectDir)\libheif\bin" ?>
		<?define AvifDllFolder = "$(var.JPEGView.ProjectDir)\libavif\bin" ?>
		<?define LcmsDllFolder = "$(var.JPEGView.ProjectDir)\lcms2\bin" ?>
	<?endif ?>

	<!--
		====================================================================================
		Package start
	-->


	<!-- The upgrade code must never change as long as the product lives! -->
	<!-- Product IDs must be autogenerated (*) or else major upgrades will not work -->
	<Product Id="*" Name="!(loc.ApplicationName)" Language="!(loc.Language)" Version="$(var.VersionNumber)" Manufacturer="!(loc.ManufacturerFullName)" UpgradeCode="$(var.UpgradeCode)">

		<!-- Package IDs are valid for a single package version only - they are autogenerated by WiX -->
		<!-- And ALWAYS install per machine!!! -->
		<?if $(var.Platform) = x64 ?>
			<Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="!(loc.ProductDescription)" Comments="!(loc.Comments) $(var.VersionNumber)" Platform="x64"/>
		<?else ?>
			<Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="!(loc.ProductDescription)" Comments="!(loc.Comments) $(var.VersionNumber)" />
		<?endif ?>

		<!-- https://wixtoolset.org//documentation/manual/v3/wixui/wixui_dialog_library.html -->
		<!-- adding a UI needs a new reference manually added - https://stackoverflow.com/questions/596919/how-to-add-a-ui-to-a-wix-3-installer -->
		<UIRef Id="WixUI_Advanced" />
		<Property Id="ApplicationFolderName" Value="!(loc.ApplicationName)" />
		<Property Id="WixAppFolder" Value="WixPerMachineFolder" />

		<!-- customizations - https://wixtoolset.org/documentation/manual/v3/wixui/wixui_customizations.html -->
		<!-- Default bitmaps here - https://stackoverflow.com/questions/48713061/how-do-you-change-the-red-cd-icon-on-wix -->
		<!-- License agreement text: dummy. Real text is set in WXS file -->
		<WixVariable Id="WixUILicenseRtf" Value="res\License.rtf" />

		<!-- UI customization -->
		<WixVariable Id="WixUIBannerBmp" Value="res\BannerTop.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="res\Dialog.bmp" />

		<!-- Define icons (ID should not be longer than 18 chars and must end with ".exe") -->
		<Icon Id="Icon.exe" SourceFile="$(var.JPEGView.ProjectDir)\res\JPEGView.ico" />

		<!-- Set properties for add/remove programs -->
		<Property Id="ARPPRODUCTICON" Value="Icon.exe" />
		<Property Id="ARPHELPLINK" Value="$(var.InfoURL)" />
		<Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />			<!-- Remove repair -->
		<Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />			<!-- Remove modify -->

		<!-- Upgrade logic -->
		<!-- AllowSameVersionUpgrades -> Always upgrade, never allow two versions to be installed next to each other -->
		<!-- AllowSameVersionUpgrades causes ICE61 which must be ignored -->
		<MajorUpgrade DowngradeErrorMessage="!(loc.NewerInstalled)" AllowSameVersionUpgrades="yes" />





		<!-- This is the main installer sequence run when the product is actually installed -->
		<InstallExecuteSequence>
			<?if $(var.Platform) = x64 ?>
				<!-- this custom action comes from: https://stackoverflow.com/questions/5479790/wix-how-to-override-c-program-files-x86-on-x64-machine-in-wixui-advanced-s -->
				<Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
			<?endif?>

			<!-- Determine the install location after the install path has been validated by the installer -->
			<Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>
		</InstallExecuteSequence>

		<!-- Set up ARPINSTALLLOCATION property (http://blogs.technet.com/b/alexshev/archive/2008/02/09/from-msi-to-wix-part-2.aspx) -->
		<CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" />

		<!--
		 Launch conditions

		 1. Check minimum OS version
			If not, the installation is aborted.
			By doing the (Installed OR ...) property means that this condition will only be evaluated if the app is being installed and not on uninstall or changing

			Note: Under a Product element, a condition becomes a LaunchCondition entry.
		-->
		<!--
		<Condition Message="!(loc.OS2Old)">
			<![CDATA[Installed OR (VersionNT >= 600)]]>
		</Condition>
		-->

		<!--
		 2. Check OS bitness
			Unfortunately 32-bit MSI packages cannot write to 64-bit ProgramFiles directory. That is the only reason we need separate MSIs for 32-bit and 64-bit.
		-->
		<?if $(var.Platform) = x64 ?>
			<Condition Message="!(loc.x86VersionRequired)">
				<![CDATA[VersionNT64]]>
			</Condition>
		<?endif?>

		<?if $(var.Platform) = x86 ?>
			<Condition Message="!(loc.x64VersionRequired)">
				<![CDATA[NOT VersionNT64]]>
			</Condition>
		<?endif?>
		<!--
			Launch conditions end
		-->



		<!-- Save the command line value APPLICATIONFOLDER and restore it later in the sequence or it will be overwritten by the value saved to the registry during an upgrade -->
		<!-- http://robmensching.com/blog/posts/2010/5/2/the-wix-toolsets-remember-property-pattern/ -->
		<CustomAction Id='SaveCmdLineValueAPPLICATIONFOLDER' Property='CMDLINE_APPLICATIONFOLDER' Value='[APPLICATIONFOLDER]' Execute='firstSequence' />
		<CustomAction Id='SetFromCmdLineValueAPPLICATIONFOLDER' Property='APPLICATIONFOLDER' Value='[CMDLINE_APPLICATIONFOLDER]' Execute='firstSequence' />
		<InstallUISequence>
			<Custom Action='SaveCmdLineValueAPPLICATIONFOLDER' Before='AppSearch' />
			<Custom Action='SetFromCmdLineValueAPPLICATIONFOLDER' After='AppSearch'>
				CMDLINE_APPLICATIONFOLDER
			</Custom>
		</InstallUISequence>
		<InstallExecuteSequence>
			<Custom Action='SaveCmdLineValueAPPLICATIONFOLDER' Before='AppSearch' />
			<Custom Action='SetFromCmdLineValueAPPLICATIONFOLDER' After='AppSearch'>
				CMDLINE_APPLICATIONFOLDER
			</Custom>
		</InstallExecuteSequence>



		<!-- Determine the directory of a previous installation (if one exists). If not APPLICATIONFOLDER stays empty -->
		<!--
		<Property Id="APPLICATIONFOLDER">
			<RegistrySearch Id="DetermineInstallLocation" Type="raw" Root="HKLM" Key="Software\!(loc.ManufacturerName)\InstalledProducts\!(loc.ApplicationName)" Name="InstallLocation" />
		</Property>
		-->
		<?if $(var.Platform) = x64 ?>
			<!-- this code comes from: https://stackoverflow.com/questions/5479790/wix-how-to-override-c-program-files-x86-on-x64-machine-in-wixui-advanced-s -->
			<Property Id="APPLICATIONFOLDER" Secure="yes">
				<RegistrySearch Id="FindInstallLocation"
					Root="HKLM"
					Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[WIX_UPGRADE_DETECTED]"
					Name="InstallLocation"
					Type="raw"
					Win64="yes" />
			</Property>
		<?else?>
			<Property Id="APPLICATIONFOLDER" Secure="yes">
				<RegistrySearch Id="FindInstallLocation"
					Root="HKLM"
					Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[WIX_UPGRADE_DETECTED]"
					Name="InstallLocation"
					Type="raw" />
			</Property>
		<?endif?>


		<!--
			====================================================================================
			Start to build directory structure
		-->

		<MediaTemplate EmbedCab="yes" /><!-- if you don't set EmbedCab, it outputs a MSI + CAB file-->

		<Feature Id="ProductFeature" Title="JPEGView" Level="1" Display="expand">
			<!-- <ComponentGroupRef Id="ProductComponents" /> -->
			<Feature Id="JPEGViewMain" Title="JPEGView" Absent="disallow">
				<ComponentRef Id="APPLICATIONFOLDER_comp"/>
				<ComponentRef Id="JPEGViewExe"/>
				<ComponentRef Id="NavPanel.png"/>
			</Feature>
			<Feature Id="FeatureJXL" Title="JPEG XL Support">
				<ComponentRef Id="brotlicommonDLL"/>
				<ComponentRef Id="brotlidecDLL"/>
				<ComponentRef Id="jxl_decDLL"/>
				<ComponentRef Id="jxl_threadsDLL"/>
			</Feature>
			<Feature Id="FeatureHEIF" Title="HEIF/HEIC/AVIF Support">
				<ComponentRef Id="dav1dDLL"/>
				<ComponentRef Id="de265DLL"/>
				<ComponentRef Id="heifDLL"/>
				<ComponentRef Id="avifDLL"/>
			</Feature>
			<Feature Id="FeatureLCMS" Title="ICC Profile Support (WebP, JPEG XL, HEIF/HEIC/AVIF)">
				<ComponentRef Id="lcmsDLL"/>
			</Feature>

			<Feature Id="FeatureWIC" Title="WIC Support">
				<ComponentRef Id="WICLoaderDLL"/>
			</Feature>
			<Feature Id="ConfigFiles" Title="Config Files" Absent="disallow">
				<ComponentRef Id="JPEGView.ini"/>
				<ComponentRef Id="JPEGView.ini.tpl"/>
				<ComponentRef Id="JPEGView_ru.ini"/>
				<ComponentRef Id="JPEGView_ru.ini.tpl"/>
				<ComponentRef Id="KeyMap.txt.default"/>
				<ComponentRef Id="symbols.km"/>
				<!-- <ComponentRef Id="KeyMap_ru.txt"/> -->
			</Feature>
			<Feature Id="Docs" Title="Documentation">
				<ComponentRef Id="LICENSE.txt"/>
				<ComponentRef Id="readme.html"/>
				<ComponentRef Id="readme_ru.html"/>
				<ComponentRef Id="readme_uk.html"/>
				<ComponentRef Id="KeyMap_README.html"/>
				<ComponentRef Id="KeyMap_README_ru.html"/>
			</Feature>
			<Feature Id="Localization" Title="Localization Strings">
				<ComponentRef Id="strings.txt" />
				<ComponentRef Id="strings_be.txt" />
				<ComponentRef Id="strings_cs.txt" />
				<ComponentRef Id="strings_de.txt" />
				<ComponentRef Id="strings_el.txt" />
				<ComponentRef Id="strings_es.txt" />
				<ComponentRef Id="strings_esar.txt" />
				<ComponentRef Id="strings_eu.txt" />
				<ComponentRef Id="strings_fr.txt" />
				<ComponentRef Id="strings_hu.txt" />
				<ComponentRef Id="strings_it.txt" />
				<ComponentRef Id="strings_ja.txt" />
				<ComponentRef Id="strings_ko.txt" />
				<ComponentRef Id="strings_pl.txt" />
				<ComponentRef Id="strings_pt.txt" />
				<ComponentRef Id="strings_ptbr.txt" />
				<ComponentRef Id="strings_ro.txt" />
				<ComponentRef Id="strings_ru.txt" />
				<ComponentRef Id="strings_sl.txt" />
				<ComponentRef Id="strings_sr.txt" />
				<ComponentRef Id="strings_sv.txt" />
				<ComponentRef Id="strings_tr.txt" />
				<ComponentRef Id="strings_uk.txt" />
				<ComponentRef Id="strings_zh.txt" />
				<ComponentRef Id="strings_zhtw.txt" />
			</Feature>

			<Feature Id="AppShortcut" Title="Install Shortcuts to Start Menu">
				<!-- Shortcut Step 3: Tell WiX to install the shortcut -->
				<ComponentRef Id="ApplicationShortcut" />
				<ComponentRef Id="DocsShortcut" />
			</Feature>

			<Feature Id="DesktopShortcut" Title="Install Shortcut to Desktop">
				<ComponentRef Id="DesktopShortcut" />
			</Feature>
		</Feature>




		<!-- Shortcut Step 2: Add the shortcut to your installer package -->
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="5acc19d4-706e-49f3-95a6-16f943e23049">
				<Shortcut Id="ApplicationStartMenuShortcut"
					Name="JPEGView"
					Description="Fast Image Viewer/Editor with a minimal GUI"
					Target="[APPLICATIONFOLDER]JPEGView.exe"
					WorkingDirectory="APPLICATIONFOLDER"
					Icon="Icon.exe"/>
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\sylikc\JPEGView" Name="AppSC" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
			<Component Id="DocsShortcut" Guid="*">
				<Shortcut Id="DocsStartMenuShortcut"
					Name="Readme Help"
					Description="JPEGView HTML Help"
					Target="[APPLICATIONFOLDER]readme.html"
					WorkingDirectory="APPLICATIONFOLDER"/>
				<RegistryValue Root="HKCU" Key="Software\sylikc\JPEGView" Name="DocsSC" Type="integer" Value="1" KeyPath="yes"/>
			</Component>

			<!-- https://stackoverflow.com/questions/3075925/wix-3-driving-me-crazy-trying-to-create-desktop-shortcut -->
			<Component Id="DesktopShortcut" Guid="*">
				<RegistryValue Root="HKCU"
					Key="SOFTWARE\sylikc\JPEGView" Name="DesktopSC" Value="1"
					Type="integer" KeyPath="yes" />
				<Shortcut Id="desktopSC" Target="[APPLICATIONFOLDER]JPEGView.exe"
					Directory="DesktopFolder" Name="JPEGView"
					Icon="Icon.exe"
					WorkingDirectory="APPLICATIONFOLDER"/>
			</Component>
		</DirectoryRef>




		<?if $(var.Platform) = x64 ?>
			<!-- this sequence of stuff which is to ensure 64-bit installs into "C:\Program Files" instead of "C:\Program Files (x86)" -->
			<!-- dual installer compatible, customized from: https://stackoverflow.com/questions/5479790/wix-how-to-override-c-program-files-x86-on-x64-machine-in-wixui-advanced-s -->

			<SetDirectory
				Id="APPLICATIONFOLDER"
				Value="[ProgramFiles64Folder][ApplicationFolderName]">APPLICATIONFOLDER=""</SetDirectory>

			<CustomAction
				Id="OverwriteWixSetDefaultPerMachineFolder"
				Property="WixPerMachineFolder"
				Value="[APPLICATIONFOLDER]"
				Execute="immediate" />


			<InstallUISequence>
				<Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
			</InstallUISequence>
		<?endif?>


	</Product>

	<Fragment>

		<!-- Outermost folder (kind of virtual). Fixed entry. -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<!-- We start building our directory structure here -->
			<!-- "ProgramFilesFolder" is a variable containing the absolute path. -->
			<!-- For a list of folder variables, see: http://msdn.microsoft.com/en-us/library/aa372057%28VS.85%29.aspx -->
			<Directory Id="$(var.PlatformProgramFilesFolder)">

				<!-- All folders from here on are relative to their parent. -->
				<Directory Id="APPLICATIONFOLDER" Name="!(loc.ApplicationName)">

					<!-- Define components, the building blocks of MSIs. -->
					<!-- Rule: A component should only contain items that belong together so strongly that they always need to be installed or removed together. -->
					<!-- If this means a single file, then your components will contain a single file each. This is not only normal but exactly what you're -->
					<!-- to do. Don't be afraid, Windows Installer can efficiently handle thousands of components or more, if needed. -->

					<!-- Installation directory as a component so it can be emptied during uninstall (by default files added by someone other than Windows Installer are not removed) -->
					<Component Id="APPLICATIONFOLDER_comp" Guid="42282a63-0b30-4a28-bb30-8b668740f6a4">
						<CreateFolder />
						<RemoveFile Id="RemoveFilesFromAppDirectory" Name="*.*" On="uninstall" />
					</Component>


					<!-- Main program file -->
					<!--
					<Component Id="JPEGView.exe_comp" Guid="*" Win64="$(var.Win64)">
						<File Source="$(var.JPEGViewExeSourcePath)" Id="JPEGViewExe" KeyPath="yes" />
					</Component>
					-->

					<!-- Configuration file -->
					<!--
					<Component Id="uberAgent.conf_comp" Guid="YOUR-GUID-HERE">
						<File Source="$(var.ProjectDir)..\uberAgent\Config file\Standalone mode\uberAgent.conf" Id="uberAgentConf" KeyPath="yes" />
					</Component>
					-->


					<Component Id="JPEGViewExe" Guid="30be6f3f-71ea-4829-82bd-2b3ddb846079">
						<File Id="JPEGView.exe" Name="JPEGView.exe" Source="$(var.JPEGView.TargetDir)JPEGView.exe" KeyPath="yes" Checksum="yes"/>

						<!-- https://stackoverflow.com/questions/2772452/how-to-associate-application-with-existing-file-types-using-wix-installer -->

						<?define HKLMCapabilities = "SOFTWARE\sylikc\JPEGView\Capabilities" ?>

						<!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" -->
						<RegistryValue Root="HKLM" Key="$(var.HKLMCapabilities)" Name="ApplicationDescription" Value="!(loc.ProductDescription)" Type="string" />
						<RegistryValue Root="HKLM" Key="$(var.HKLMCapabilities)" Name="ApplicationIcon" Value="[APPLICATIONFOLDER]JPEGView.exe,0" Type="string" />
						<RegistryValue Root="HKLM" Key="$(var.HKLMCapabilities)" Name="ApplicationName" Value="!(loc.ApplicationName)" Type="string" />
						<RegistryValue Root="HKLM" Key="$(var.HKLMCapabilities)\DefaultIcon" Value="[APPLICATIONFOLDER]JPEGView.exe,1" Type="string" />
						<RegistryValue Root="HKLM" Key="$(var.HKLMCapabilities)\FileAssociations" Name=".jpg" Value="JPEGView.Document" Type="string" />
						<RegistryValue Root="HKLM" Key="$(var.HKLMCapabilities)\MIMEAssociations" Name="application/jpg" Value="JPEGView.Document" Type="string" />
						<RegistryValue Root="HKLM" Key="$(var.HKLMCapabilities)\shell\Open\command" Value="&quot;[APPLICATIONFOLDER]JPEGView.exe&quot; &quot;%1&quot;" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="JPEGView" Value="$(var.HKLMCapabilities)" Type="string" />

						<!-- App Paths to support Start,Run -> "myapp"
						<RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\MyApp.exe" Value="[!MyApp.exe]" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\MyApp.exe" Name="Path" Value="[APPLICATIONFOLDER]" Type="string" />
						-->

						<!-- Extend to the "open with" list + Win7 jump menu pinning -->
						<!-- (The supported filetypes of JPEGView are listed in FileList.cpp: csFileEndingsInternal and csFileEndingsRAW-->
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\shell\open" Name="FriendlyAppName" Value="!(loc.ApplicationName)" Type="string" />
						<!-- csFileEndingsInternal -->
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".jpg" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".jpeg" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".bmp" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".png" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".tif" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".tiff" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".gif" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".webp" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".jxl" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".avif" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".heif" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".heic" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".tga" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".qoi" Value="" Type="string" />
						<!-- csFileEndingsRAW -->
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".pef" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".dng" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".crw" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".nef" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".cr2" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".mrw" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".rw2" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".orf" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".x3f" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".arw" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".kdc" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".nrw" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".dcr" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".sr2" Value="" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\JPEGView.exe\SupportedTypes" Name=".raf" Value="" Type="string" />

						<!-- MyApp.Document ProgID -->
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\JPEGView.Document" Name="FriendlyTypeName" Value="!(loc.DescREG)" Type="string" />
						<ProgId Id="JPEGView.Document" Description="!(loc.DescREG)" Icon="Icon.exe" Advertise="yes">
							<Extension Id="jpg">
								<Verb Id="open" Command="!(loc.ExplorerMenuOpenREG)" Argument="&quot;%1&quot;" />
								<MIME Advertise="yes" ContentType="application/jpg" Default="yes" />
							</Extension>
						</ProgId>

						<!-- Optional: add an 'Edit with XYZ' to 'right click' even when not associated -->
						<!-- SaveImage.cpp :: I'm only putting extensions which can be saved in the code at the moment -->
						<!-- Find the extensions in MainDlg.cpp (search for "Helpers::CReplacePipe") -->
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.jpg\shell\edit.JPEGView.exe" Value="!(loc.ExplorerMenuEditREG)" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.jpg\shell\edit.JPEGView.exe\command" Value="&quot;[APPLICATIONFOLDER]JPEGView.exe&quot; &quot;%1&quot;" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.jpeg\shell\edit.JPEGView.exe" Value="!(loc.ExplorerMenuEditREG)" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.jpeg\shell\edit.JPEGView.exe\command" Value="&quot;[APPLICATIONFOLDER]JPEGView.exe&quot; &quot;%1&quot;" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.bmp\shell\edit.JPEGView.exe" Value="!(loc.ExplorerMenuEditREG)" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.bmp\shell\edit.JPEGView.exe\command" Value="&quot;[APPLICATIONFOLDER]JPEGView.exe&quot; &quot;%1&quot;" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.png\shell\edit.JPEGView.exe" Value="!(loc.ExplorerMenuEditREG)" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.png\shell\edit.JPEGView.exe\command" Value="&quot;[APPLICATIONFOLDER]JPEGView.exe&quot; &quot;%1&quot;" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.tiff\shell\edit.JPEGView.exe" Value="!(loc.ExplorerMenuEditREG)" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.tiff\shell\edit.JPEGView.exe\command" Value="&quot;[APPLICATIONFOLDER]JPEGView.exe&quot; &quot;%1&quot;" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.tif\shell\edit.JPEGView.exe" Value="!(loc.ExplorerMenuEditREG)" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.tif\shell\edit.JPEGView.exe\command" Value="&quot;[APPLICATIONFOLDER]JPEGView.exe&quot; &quot;%1&quot;" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.webp\shell\edit.JPEGView.exe" Value="!(loc.ExplorerMenuEditREG)" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.webp\shell\edit.JPEGView.exe\command" Value="&quot;[APPLICATIONFOLDER]JPEGView.exe&quot; &quot;%1&quot;" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.qoi\shell\edit.JPEGView.exe" Value="!(loc.ExplorerMenuEditREG)" Type="string" />
						<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.qoi\shell\edit.JPEGView.exe\command" Value="&quot;[APPLICATIONFOLDER]JPEGView.exe&quot; &quot;%1&quot;" Type="string" />
					</Component>

					<!-- DLLs required for JXL support -->
					<Component Id="brotlicommonDLL" Guid="97c26f44-4776-489d-be8a-0b732a42ea34">
						<File Id="brotlicommon.dll" Name="brotlicommon.dll" Source="$(var.JxlDllFolder)\brotlicommon.dll" />
					</Component>
					<Component Id="brotlidecDLL" Guid="dc648a37-d726-40f9-9098-dfde491dbb44">
						<File Id="brotlidec.dll" Name="brotlidec.dll" Source="$(var.JxlDllFolder)\brotlidec.dll" />
					</Component>
					<Component Id="jxl_decDLL" Guid="a65bca95-9ddf-476c-88b5-5048a3a9bde6">
						<File Id="jxl_dec.dll" Name="jxl_dec.dll" Source="$(var.JxlDllFolder)\jxl_dec.dll" />
					</Component>
					<Component Id="jxl_threadsDLL" Guid="964ed16e-138a-4419-9c4c-8eb45a04d0f6">
						<File Id="jxl_threads.dll" Name="jxl_threads.dll" Source="$(var.JxlDllFolder)\jxl_threads.dll" />
					</Component>


					<!-- DLLs required for HEIF/AVIF support -->
					<Component Id="dav1dDLL" Guid="ef9a6d34-487d-4edf-b8fb-58e3e16452e4">
						<File Id="dav1d.dll" Name="dav1d.dll" Source="$(var.AvifDllFolder)\dav1d.dll" />
					</Component>
					<Component Id="de265DLL" Guid="c6d43557-f20f-478a-b9e7-a213fca72648">
						<File Id="de265.dll" Name="de265.dll" Source="$(var.HeifDllFolder)\de265.dll" />
					</Component>
					<Component Id="heifDLL" Guid="46c300a1-229a-45ad-a861-edf53cc97c46">
						<File Id="heif.dll" Name="heif.dll" Source="$(var.HeifDllFolder)\heif.dll" />
					</Component>
					<Component Id="avifDLL" Guid="1597e47e-b6ae-44f4-b28a-6b7503bdd1d2">
						<File Id="avif.dll" Name="avif.dll" Source="$(var.AvifDllFolder)\avif.dll" />
					</Component>


					<!-- DLLs required for ICC Profile support (WebP, JXL, HEIF/HEIC/AVIF) -->
					<Component Id="lcmsDLL" Guid="2a7a5f9a-4100-4eee-8706-a6b9a2a8cf5c">
						<File Id="lcms2.dll" Name="lcms2.dll" Source="$(var.LcmsDllFolder)\lcms2.dll" />
					</Component>


					<!-- DLL required for WIC support -->
					<Component Id="WICLoaderDLL" Guid="742ca948-b7d3-4ca4-9aab-2592616416ed">
						<File Id="WICLoader.dll" Name="WICLoader.dll" Source="$(var.WICLoader.TargetDir)WICLoader.dll" />
					</Component>


					<!-- initially autogenerated with a batch file -->

					<Component Id="NavPanel.png" Guid="*">
						<File Id="NavPanel.png" Name="NavPanel.png" Source="$(var.JPEGView.TargetDir)NavPanel.png" />
					</Component>

					<Component Id="JPEGView.ini" Guid="*">
						<File Id="JPEGView.ini" Name="JPEGView.ini" Source="$(var.JPEGView.TargetDir)JPEGView.ini" />
					</Component>
					<Component Id="JPEGView.ini.tpl" Guid="*">
						<File Id="JPEGView.ini.tpl" Name="JPEGView.ini.tpl" Source="$(var.JPEGView.TargetDir)JPEGView.ini.tpl" />
					</Component>
					<Component Id="JPEGView_ru.ini" Guid="*">
						<File Id="JPEGView_ru.ini" Name="JPEGView_ru.ini" Source="$(var.JPEGView.TargetDir)JPEGView_ru.ini" />
					</Component>
					<Component Id="JPEGView_ru.ini.tpl" Guid="*">
						<File Id="JPEGView_ru.ini.tpl" Name="JPEGView_ru.ini.tpl" Source="$(var.JPEGView.TargetDir)JPEGView_ru.ini.tpl" />
					</Component>
					<Component Id="KeyMap.txt.default" Guid="*">
						<File Id="KeyMap.txt.default" Name="KeyMap.txt.default" Source="$(var.JPEGView.TargetDir)KeyMap.txt.default" />
					</Component>
					<Component Id="symbols.km" Guid="*">
						<File Id="symbols.km" Name="symbols.km" Source="$(var.JPEGView.TargetDir)symbols.km" />
					</Component>
					<!--
					<Component Id="KeyMap_ru.txt" Guid="*">
						<File Id="KeyMap_ru.txt" Name="KeyMap_ru.txt" Source="$(var.JPEGView.TargetDir)KeyMap_ru.txt" />
					</Component>
					-->

					<Component Id="LICENSE.txt" Guid="*">
						<File Id="LICENSE.txt" Name="LICENSE.txt" Source="$(var.JPEGView.TargetDir)LICENSE.txt" />
					</Component>
					<Component Id="readme.html" Guid="*">
						<File Id="readme.html" Name="readme.html" Source="$(var.JPEGView.TargetDir)readme.html" />
					</Component>
					<Component Id="readme_ru.html" Guid="*">
						<File Id="readme_ru.html" Name="readme_ru.html" Source="$(var.JPEGView.TargetDir)readme_ru.html" />
					</Component>
					<Component Id="readme_uk.html" Guid="*">
						<File Id="readme_uk.html" Name="readme_uk.html" Source="$(var.JPEGView.TargetDir)readme_uk.html" />
					</Component>
					<Component Id="KeyMap_README.html" Guid="*">
						<File Id="KeyMap_README.html" Name="KeyMap-README.html" Source="$(var.JPEGView.TargetDir)KeyMap-README.html" />
					</Component>
					<Component Id="KeyMap_README_ru.html" Guid="*">
						<File Id="KeyMap_README_ru.html" Name="KeyMap-README_ru.html" Source="$(var.JPEGView.TargetDir)KeyMap-README_ru.html" />
					</Component>


					<Component Id="strings.txt" Guid="*">
						<File Id="strings.txt" Name="strings.txt" Source="$(var.JPEGView.TargetDir)strings.txt" />
					</Component>
					<Component Id="strings_be.txt" Guid="*">
						<File Id="strings_be.txt" Name="strings_be.txt" Source="$(var.JPEGView.TargetDir)strings_be.txt" />
					</Component>
					<Component Id="strings_cs.txt" Guid="*">
						<File Id="strings_cs.txt" Name="strings_cs.txt" Source="$(var.JPEGView.TargetDir)strings_cs.txt" />
					</Component>
					<Component Id="strings_de.txt" Guid="*">
						<File Id="strings_de.txt" Name="strings_de.txt" Source="$(var.JPEGView.TargetDir)strings_de.txt" />
					</Component>
					<Component Id="strings_el.txt" Guid="*">
						<File Id="strings_el.txt" Name="strings_el.txt" Source="$(var.JPEGView.TargetDir)strings_el.txt" />
					</Component>
					<Component Id="strings_es.txt" Guid="*">
						<File Id="strings_es.txt" Name="strings_es.txt" Source="$(var.JPEGView.TargetDir)strings_es.txt" />
					</Component>
					<Component Id="strings_esar.txt" Guid="*">
						<File Id="strings_esar.txt" Name="strings_es-ar.txt" Source="$(var.JPEGView.TargetDir)strings_es-ar.txt" />
					</Component>
					<Component Id="strings_eu.txt" Guid="*">
						<File Id="strings_eu.txt" Name="strings_eu.txt" Source="$(var.JPEGView.TargetDir)strings_eu.txt" />
					</Component>
					<Component Id="strings_fr.txt" Guid="*">
						<File Id="strings_fr.txt" Name="strings_fr.txt" Source="$(var.JPEGView.TargetDir)strings_fr.txt" />
					</Component>
					<Component Id="strings_hu.txt" Guid="*">
						<File Id="strings_hu.txt" Name="strings_hu.txt" Source="$(var.JPEGView.TargetDir)strings_hu.txt" />
					</Component>
					<Component Id="strings_it.txt" Guid="*">
						<File Id="strings_it.txt" Name="strings_it.txt" Source="$(var.JPEGView.TargetDir)strings_it.txt" />
					</Component>
					<Component Id="strings_ja.txt" Guid="*">
						<File Id="strings_ja.txt" Name="strings_ja.txt" Source="$(var.JPEGView.TargetDir)strings_ja.txt" />
					</Component>
					<Component Id="strings_ko.txt" Guid="*">
						<File Id="strings_ko.txt" Name="strings_ko.txt" Source="$(var.JPEGView.TargetDir)strings_ko.txt" />
					</Component>
					<Component Id="strings_pl.txt" Guid="*">
						<File Id="strings_pl.txt" Name="strings_pl.txt" Source="$(var.JPEGView.TargetDir)strings_pl.txt" />
					</Component>
					<Component Id="strings_pt.txt" Guid="*">
						<File Id="strings_pt.txt" Name="strings_pt.txt" Source="$(var.JPEGView.TargetDir)strings_pt.txt" />
					</Component>
					<Component Id="strings_ptbr.txt" Guid="*">
						<File Id="strings_ptbr.txt" Name="strings_pt-br.txt" Source="$(var.JPEGView.TargetDir)strings_pt-br.txt" />
					</Component>
					<Component Id="strings_ro.txt" Guid="*">
						<File Id="strings_ro.txt" Name="strings_ro.txt" Source="$(var.JPEGView.TargetDir)strings_ro.txt" />
					</Component>
					<Component Id="strings_ru.txt" Guid="*">
						<File Id="strings_ru.txt" Name="strings_ru.txt" Source="$(var.JPEGView.TargetDir)strings_ru.txt" />
					</Component>
					<Component Id="strings_sl.txt" Guid="*">
						<File Id="strings_sl.txt" Name="strings_sl.txt" Source="$(var.JPEGView.TargetDir)strings_sl.txt" />
					</Component>
					<Component Id="strings_sr.txt" Guid="*">
						<File Id="strings_sr.txt" Name="strings_sr.txt" Source="$(var.JPEGView.TargetDir)strings_sr.txt" />
					</Component>
					<Component Id="strings_sv.txt" Guid="*">
						<File Id="strings_sv.txt" Name="strings_sv.txt" Source="$(var.JPEGView.TargetDir)strings_sv.txt" />
					</Component>
					<Component Id="strings_tr.txt" Guid="*">
						<File Id="strings_tr.txt" Name="strings_tr.txt" Source="$(var.JPEGView.TargetDir)strings_tr.txt" />
					</Component>
					<Component Id="strings_uk.txt" Guid="*">
						<File Id="strings_uk.txt" Name="strings_uk.txt" Source="$(var.JPEGView.TargetDir)strings_uk.txt" />
					</Component>
					<Component Id="strings_zh.txt" Guid="*">
						<File Id="strings_zh.txt" Name="strings_zh.txt" Source="$(var.JPEGView.TargetDir)strings_zh.txt" />
					</Component>
					<Component Id="strings_zhtw.txt" Guid="*">
						<File Id="strings_zhtw.txt" Name="strings_zh-tw.txt" Source="$(var.JPEGView.TargetDir)strings_zh-tw.txt" />
					</Component>


				</Directory>
			</Directory>


			<!-- Shortcuts Step 1: Define the directory structure - https://wixtoolset.org/documentation/manual/v3/howtos/files_and_registry/create_start_menu_shortcut.html -->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="JPEGView"/>
			</Directory>

		<Directory Id="DesktopFolder" SourceName="Desktop"/>

		</Directory>
	</Fragment>

	<!-- renamed INSTALLDIR to APPLICATIONFOLDER to fix some 2727 error

	kinda hacky, not sure what happened https://stackoverflow.com/questions/6833619/visual-studio-2010-windows-installer-using-msiexec-exe-returns-msi-error-2727

	use [-l "logfile.txt"] to debug any future errors https://stackoverflow.com/questions/18596548/how-to-log-an-installation-made-from-a-wix-bundle/18755775#18755775
	-->

	<!--
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
				<Component Id="JPEGViewExe" Guid="30be6f3f-71ea-4829-82bd-2b3ddb846079">
					<File Id="JPEGView.exe" Name="JPEGView.exe" Source="$(var.JPEGView.TargetDir)JPEGView.exe" />
				</Component>
				<Component Id="webpDll" Guid="43e917db-b269-40bf-81ab-b2d1453b225f">
					<File Id="webp.dll" Name="webp.dll" Source="$(var.WEBP.TargetDir)webp.dll" />
				</Component>
				<Component Id="WICLoaderDll" Guid="742ca948-b7d3-4ca4-9aab-2592616416ed">
					<File Id="WICLoader.dll" Name="WICLoader.dll" Source="$(var.WICLoader.TargetDir)WICLoader.dll" />
				</Component>
		</ComponentGroup>
	</Fragment>
	-->

</Wix>
