
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "\0"
            VALUE "FileDescription", "WIC interface DLL\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "JPEGView WICLoader\0"
            VALUE "LegalCopyright", "Copyright 2006-2011 David Kleiner\0"
            VALUE "OriginalFilename", "WICLoader.dll\0"
            VALUE "ProductName", "WIC Interface\0"
            VALUE "ProductVersion", "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END

/////////////////////////////////////////////////////////////////////////////

